[submodule "third_party/mupen64plus-core"]
	path = third_party/mupen64plus-core
	url = https://github.com/mupen64plus/mupen64plus-core
[submodule "third_party/gliden64"]
	path = third_party/gliden64
	url = https://github.com/gonetz/GLideN64
[submodule "third_party/mame_libretro"]
	path = third_party/mame_libretro
	url = https://github.com/libretro/mame.git
